@media (max-width: 1399px){
    
    .articles__item-text{
        padding: 0 25%;
    }
    
}

@media (max-width: 1199px) {
    .header__nav-icon{
        margin-left: 14px;
    }
}

@media (max-width: 991px) {
    
    .articles__item-text{
        padding: 0 1%;
    }
    
    .navbar-collapse{
        background: rgba(36, 36, 36, 0.897);
    }
    
    .nav-logo-none{
        display: flex;
    }
    
    .nav-logo-none-two{
        display: none;
    }
    
    .header__nav-link, .header__nav-icon{
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    
    .navbar-nav__d-flex{
        flex-direction: initial;
        justify-content: center;
        margin: 10px;
    }
    
    .email__item-form{
        width: 400px;
    }
    
    .footer__title{
        margin-top: 20px;
    }
    
    .footer__start{
        margin-top: 40px;
    }
    
   
}

@media (max-width: 767px){
    
    .email__item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .email__item-form{
        margin-top: 20px;
    }
    
    .footer__end-p{
        font-size: 10px;
    }
    
    .footer__end-link{
        font-size: 10px;
    }
    
}

@media (max-width: 471px){
    
    .footer__end-ul{
        flex-direction: column;
    }
    
}

@media (max-width: 450px) {
    
    .header__text-title {
        font-size: 25px;
    }
    
    .header__text-link {
        font-size: 13px;
        padding: 10px 30px;
    }
    
    .nav-logo-none{
        width: 120px !important;
    }
    
    .nav-logo-none-img{
        width: 100%;
    }
    
    .email__item-form{
        width: 100%;
    }
    
    .email__item-input{
        flex-direction: column;
    }
    
    .email__button{
        margin-top: 5px;
    }
}

@media (max-width: 359px){
    
    .tabBlock .nav-pills .nav-link{
        width: 100%;
        height: 40px;
        margin-top: -9px;
    }
    
    .tabBlock .nav-item{
        width: 100%;
    }
    
    .tabBlock__button{
        display: none;
    }
    
}