@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,a,p,ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --g-r: 'gilroy-regular';
    --n-b: 'NotoSerif-Bold';
}

body{
    font-family: var(--g-r);
    min-width: 320px;
}

.text{
    font-size: 21px;
    color: #333333;
    text-align: center;
    font-family: var(--g-r);
}

.title{
    font-size: 30px;
    color: #333333;
    text-align: center;
    font-family: var(--n-b);
    margin-top: 15px;
}

/* header start */
/* **************************************** */

.header{
    background: url(../img/header-fon.jpg) no-repeat center/cover;
    height: 100vh;
    position: relative;
}

.header__nav-link{
    font-size: 14px;
    color: #fff;
    margin-right: 40px;
}

.header__nav-link:hover{
    color: #808080;
}

.header__nav-icon{
    color: #fff;
    font-size: 14px;
    margin-left: 40px;
}

.header__nav-icon:hover{
    color: black;
}

.header__nav-user{
    color: #fff;
    font-size: 16px;
    margin-left: 30px;
}

.header__nav-user:hover{
    color: black;
}

.header__nav-search{
    font-size: 18px;
    margin-right: 16px;
}

.header__menu-icon{
    font-size: 35px;
    color: #fff;
}

.nav-logo-none{
    display: none;
}

.header__text-title{
    font-size: 36px;
    color: #fff;
    font-family: var(--n-b);
}

.header__text-link{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 36px;
    border: 1px solid #FFFFFF;
    display: flex;
    margin-top: 50px;
    transition: 0.5s;
}

.header__text-link:hover{
    border: 1px solid #808080;
    color: #808080;
}

.header__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 200px;
    width: 100%;
}

.header__icon-block-img{
    width: 100%;
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.header__icon-imd-none{
    border-right: 0px;
}

.header__icon-block{
    border-top: 1px solid #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header__nav-menu{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

/* header end */
/* ********************************* */
/* tabBlock start */

.tabBlock__contant{
    margin-top: 60px;
}

.tabBlock{
    padding-top: 100px;
    padding-bottom: 120px;
}

.tabBlock__img{
    position: relative;
    margin-bottom: 30px;
}

.tabBlock__img-images{
    width: 100%;
}

.tabBlock__img-title{
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--g-r);
    letter-spacing: 0.1em;
}

.tabBlock .nav-pills .nav-link{
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    width: 165px;
    height: 55px;
    border: 1px solid #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 0;
}

.tabBlock__button{
    width: 165px;
    height: 55px;
    border: 1px solid #d6d6d6;
    background: #fff;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: -1;
}

.tabBlock .nav-item{
    position: relative;
    margin-top: 15px;
}

.tabBlock .nav{
    justify-content: space-between;
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #fff;
    background: #333;
    width: 171px;
    height: 61px;
    border: none;
}

/* *************************************** */

.salon{
    background: url(../img/fon-2.jpg)no-repeat center/cover;
    padding-top: 100px;
    padding-bottom: 115px;
    background-attachment: fixed;
}

.salon__text{
    color: #fff;
}

.salon__title{
    color: #fff;
    margin-top: 15px;
}



.salon__p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: var(--g-r);
    max-width: 730px;
    margin: auto;
    margin-top: 45px;
}

.salon__link{
    width: 224px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    background: #fff;
    margin: auto;
    margin-top: 75px;
    transition: 0.3s;
}

.salon__link:hover{
    color: #fff;
    background: #333;
}

/* *************************** */
/* salon-end */

/* articles-start */
/* *************************** */

.articles{
    padding-top: 120px;
    padding-bottom: 135px;
}

.articles__item{
    position: relative;
    margin-top: 60px;
}

.articles__imgages{
    width: 100%;
}

.articles__item-text{
    position: absolute;
    bottom: 35px;
    font-size: 21px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0 30%;
}

/* *************************** */
/* articles-end */

/* video-start */
/* *************************** */

.video__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-none{
    padding-left: 0;
    padding-right: 0;
}

.video__title{
    margin-bottom: 60px;
}

/* *************************** */
/* video-end */

/* email-start */
/* *************************** */

.email{
    background: url(../img/fon-2.jpg)no-repeat center/cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 120px;
    margin-top: 150px;
}

.email__text{
    color: #fff;
}

.email__title{
    color: #fff;
}

.email__item{
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.email__item-title{
    font-size: 18px;
    color: #fff;
    font-family: var(--g-r);
}

.email__item-icon{
    font-size: 17px;
    margin-right: 20px;
}

.email__item-form{
    width: 448px;
    border: 1px solid #fff;
    padding: 14px 15px;
}

.email__item-input{
    background: #fff;
    padding: 20px 22px;
    display: flex;
    justify-content: space-between;
}

.email__input{
    padding: 15px 20px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    text-transform: uppercase;
}

.email__button{
    padding: 14px 35px;
    font-size: 14px;
    color: #fff;
    background: #333333;
    border: 1px solid #fff;
    transition: 0.5s;
}

.email__button:hover{
    color: #333333;
    background: #fff;
    border: 1px solid #333333;
}

/* ********************************* */
/* email-end */

/* footer-start */
/* ********************************** */

.footer{
    padding-bottom: 20px;
}

.footer__start{
    margin-top: 80px;
}

.footer__h2{
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer__title{
    border-bottom: 1px solid #333;
}

.footer__link-1{
    font-size: 14px;
    color: #333;
    display: flex;
    margin-top: 15px;
    transition: 0.3s;
}

.footer__link-1:hover{
    color: #333;
    text-shadow: -1px -1px 3px black;
}

.footer__ul-1{
    margin-top: 30px;
}

.footer__text-2{
    font-size: 14px;
    color: #333333;
    margin-top: 30px;
}

.footer__logo{
    display: flex;
    margin-top: 21px;
}

.footer__logo-card{
    margin-right: 20px;
}

.footer__icon-1{
    margin-right: 20px;
}

.footer__link-2{
    font-size: 14px;
    color: #333;
    transition: 0.3s;
}

.footer__link-2:hover{
    text-shadow: -1px -1px 3px black;
    color: #333;
}

.footer__ul-2{
    margin-top: 30px;
}

.footer__ul-3{
    display: flex;
    margin-top: 25px;
}

.footer-icon-2{
    font-size: 24px;
    color: #333;
    margin-right: 20px;
    transition: 0.3s;
}

.footer-icon-2:hover{
    text-shadow: -1px -1px 3px black;
    color: #333;
}

.footer__end{
    margin-top: 60px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.footer__end-ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__end-p{
    font-size: 14px;
    color: #333;
}

.footer__end-link{
    font-size: 14px;
    color: #333;
    text-decoration-line: underline;
}

.footer__end-link:hover{
    text-shadow: -1px -1px 3px black;
    color: #333;
}